[submodule "extern/Cellerator"]
	path = extern/Cellerator
	url = git@github.com:tumlinso/Cellerator.git
[submodule "extern/VitriNode"]
	path = extern/VitriNode
	url = git@github.com:tumlinso/VitriNode.git
